<br />
categories_html:
<ul>
	<li class="collapsed"><input type="checkbox" /><span>Araçlar</span>
	<ul>
			<li class="collapsed"><input type="checkbox" /><span>Arabalar</span>
			<ul>
					<li class="collapsed"><input type="checkbox" /><span>BMW</span>
					<ul>
							<li><input type="checkbox" /><span>Kırmızı</span></li>
							<li><input type="checkbox" /><span>Yeşil</span></li>
							<li><input type="checkbox" /><span>Sarı</span></li>
							<li><input type="checkbox" /><span>Mavi</span></li>
							<li><input type="checkbox" /><span>Turuncu</span></li>
							<li><input type="checkbox" /><span>Siyah</span></li>
							<li><input type="checkbox" /><span>Mor</span></li>
						</ul>